@import '../utils/variables.scss';

.nav {
    width: 100vw;
    height: 140px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5px;
    padding-left: 15px;
    z-index: 1000;

    &>.minombre {
        width:60%;
        margin-top: 50px;
        font-size: 32px;
        color:$neon-pink;
    }

    &>label {
        margin-top: 30px;
        text-align: left;

        img {
            width:80px;
            margin-top: 5px;
            padding-bottom: 15px;
            padding-left: 5px;
        }
    }




    // Menu hamburguesa
    &>input {
        display: none;
    }

    &>input:checked~ul {
        display: block; // changes ul display to block when input is checked
    }

    &>ul {
        position: absolute;
        top: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        display: none;
        background-color: $greymedium;
        width: 100vw;
        z-index: 1000;
        padding-bottom: 15px;


        &>li {
            margin: 2px 15px;

            &:hover {
                background-color: $neon-pink;
                color: black;

                &>a {
                    text-decoration: none;
                    display: block;
                    height: 100%;
                    width: 100%;
                    color: $neon-pink; // Color de las letras al hacer hover
                }
            }

            &>a {
                color: white; // Color de las letras por defecto
                background-color: $greymedium; // Fondo magenta por defecto
                text-decoration: none;
                display: block;
                height: 100%;
                width: 100%;
                padding: 10px; // Opcional: para añadir un poco de espacio dentro del enlace
            }
        }
    }
    .perfil-btn {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 20px;
      }

      .perfil-icon {
        width: 40px;
        height: 40px;
      }

      .letrasnav {
        padding: 7px;
      }

      .letras-nav-icon {
        margin-bottom:  2px;
      }
    }

    @media only screen and (min-width: 720px) {
        .nav {
            width: 100%;
            height: 170px;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: $greymedium;
            padding-left: 15px;
            padding-right: 15px;

            &>.minombre {
                width:60%;
                margin-top: 50px;
                margin-left: 40px;
                font-size: 60px;
                color:$neon-pink;
            }
    
            &>label {
                margin-top: 30px;
                text-align: left;
    
                img {
                    width: 100px;
                    padding-top: 18px;
                    margin-right: 24px;
                }
            }
    
            .logo-anchor {
                width: 290px;
    
                &>.logo {
                    width: 240px;
                    margin-top:10px;
                }
            }
    
    
    
    
            // Menu hamburguesa
            &>input {
                display: none;
            }
    
            &>input:checked~ul {
                display: block; // changes ul display to block when input is checked
            }
    
            &>ul {
                position: absolute;
                top: 100%;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                list-style: none;
                display: none;
                background-color: $greymedium;
                width: 100vw;
                z-index: 1000;
                padding-bottom: 15px;
                margin-left: 35px;
                font-size:18px;
    
                &>li {
                    margin: 10px;
    
                    &:hover {
                        color: black;
    
                        &>a {
                            text-decoration: none;
                            display: block;
                            height: 100%;
                            width: 100%;
                            color: white; // Color de las letras al hacer hover
                        }
                    }
    
                    &>a {
                        color: white; // Color de las letras por defecto
                        
                        text-decoration: none;
                        display: block;
                        height: 100%;
                        width: 100%;
                        padding: 10px; // Opcional: para añadir un poco de espacio dentro del enlace
                    }
                }
            }
        }
    
        .perfil-btn {
            display: flex;
            align-items: center;
            margin-left: auto;
            margin-right: 20px;
          }
    
          .perfil-icon {
            width: 60px;
            height: 60px;
          }
    
          .letrasnav {
            padding: 7px;
          }
    
          .letras-nav-icon {
            margin-bottom:  2px;
          }
        }
    
    
    
    
    @media only screen and (min-width: 1200px) {
    
        .nav {
            height: 150px;
            width: 100%;
            position: relative;
            background-color: $greymedium;

            &>.minombre {
                width:60%;
                margin-top: 50px;
                margin-left: 60px;
                font-size: 60px;
                color:$neon-pink;
            }
    
    
            &>label {
                display: none;
            }
    
            &>ul {
                position: static;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: $greymedium;
                margin-top: 50px;
                gap:70px;
                
               
    
                &>li {
                    font-size: 8px;
                    color: white;
    
    
                    &:hover {
                       
                        color: black;
    
                        &>a {
                            text-decoration: none;
                            display: block;
                            height: 100%;
                            width: 100%;
    
                        }
                    }
    
                    &>a {
                        color: white;
                        font-size: x-large;
                        padding-bottom: 15px;
                    }
    
                    
                }
    
            }
    
            .logo-anchor {
                width: 290px;
               
        
                &>.logo {
                    width: 240px;
                    margin-top:10px;
                }
            }
            .perfil-btn {
                display: flex;
                align-items: center;
                margin-left: auto;
                margin-right: 20px;
                padding-bottom: 70px;
              }
        
              .perfil-icon {
                width: 50px;
                height: 50px;
              }
    
              .letrasnav {
                padding: 7px;
                font-size: large;
              }
    
              .letras-nav-icon {
                padding:0px;
              }
            }
        
            
          }
        